@{ ViewData["Title"] = "ERROR 404"; }

<div class="container">
    <div class="tt-layout-404">
        <span class="tt-icon">
            <svg class="icon">
                <use xlink:href="#icon-error_404"></use>
            </svg>
        </span>
        <h6 class="tt-title">@ViewData["Title"]</h6>
        <p>
            Не намираме това което търсите.<br />
            <a asp-area=""
               asp-controller="Products"
               asp-action="All"
               class="tt-color-dark tt-underline-02">
                Най новите продукти
            </a> са тук.
        </p>
    </div>
</div>
