@using Microsoft.AspNetCore.Http.Extensions;
@model TechZoneBgWebProject.Web.ViewModels.Users.UsersDetailsViewModel

<div class="tt-wrapper-inner">
    <ul class="nav nav-tab pt-tabs-default" role="tablist">
        @{
            if (this.Context.Request.GetEncodedUrl().Contains("Executing"))
            {
                <li class="nav-item show">
                    <a class="nav-link active" 
                       asp-area="" 
                       asp-controller="Users" 
                       asp-action="Executing" 
                       asp-route-id="@Model.Id">
                        <span>Изпълнява се</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                       asp-area="" 
                       asp-controller="Users" 
                       asp-action="Executed" 
                       asp-route-id="@Model.Id">
                        <span>Изпълнени</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("Executed"))
            {
                <li class="nav-item show">
                    <a class="nav-link" 
                       asp-area="" 
                       asp-controller="Users" 
                       asp-action="Executing" 
                       asp-route-id="@Model.Id">
                        <span>Изпълнява се</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" 
                       asp-area="" 
                       asp-controller="Users" 
                       asp-action="Executed" 
                       asp-route-id="@Model.Id">
                        <span>Изпълнени</span>
                    </a>
                </li>
            }
        }
    </ul>
</div>

