@model TechZoneBgWebProject.Web.ViewModels.Users.UsersLoginStatusViewModel
@using TechZoneBgWebProject.Web.Infrastructure.Extensions
<div class="col-auto ml-auto">
    <div class="tt-user-info d-flex justify-content-center">
        
        <a asp-area=""
           asp-controller="Users"
           asp-action="Executing"
           asp-route-id="@Model.Id">
            <div class="tt-avatar-icon tt-size-md">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="@Model.ProfilePicture"></use>
                    </svg>
                </i>
            </div>
        </a>
        <div class="custom-select-01">
            <select onchange="location = this.value;">
                <option disabled selected hidden>@Model.FirstName</option>
                @if (this.User.IsAdministrator())
                 {
                    <option value="/Administration/PostReports/All">Reports</option>
                    <option value="/Administration/Tags/All">Tags</option>
                    <option value="/Administration/Categories/All">Categories</option>
                 }
                <option value="/Users/Executing/@Model.Id">Профил</option>
                <option value="/Identity/Account/Manage">Настройки</option>
                <option value="/Identity/Account/Logout">Изход</option>
            </select>
        </div>
    </div>
</div>

