@model TechZoneBgWebProject.Web.ViewModels.Posts.PostsDeleteViewModel

<div class="tt-item">
    <div class="tt-info-box">
        <h6 class="tt-title">Thread Status</h6>
        <div class="tt-row-icon">
            <div class="tt-item">
                <div class="tt-icon-btn tt-position-bottom">
                    <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                    <span class="tt-text">@Model.RepliesCount</span>
                </div>
            </div>
            <div class="tt-item">
                <div class="tt-icon-btn tt-position-bottom">
                    <i class="tt-icon fas fa-eye"></i>
                    <span class="tt-text">@Model.Views</span>
                </div>
            </div>
            <div class="tt-item">
                <div class="tt-icon-btn tt-position-bottom">
                    <i class="tt-icon"><img src="~/images/like.svg" alt="like" /></i>
                    <span id="post-likes" class="tt-text">@Model.Likes</span>
                </div>
            </div>
            <div class="tt-item">
                <div class="tt-icon-btn tt-position-bottom">
                    <i class="tt-icon"><img src="~/images/dislike.svg" alt="dislike" /></i>
                    <span id="post-dislike" class="tt-text">@Model.Dislike</span>
                </div>
        </div>
    </div>
</div>