@model TechZoneBgWebProject.Web.ViewModels.Posts.PostsRepliesDetailsViewModel

<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="likeReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="tt-icon"><img src="~/images/like.svg" alt="like" /></i>
    <span id="reply-likes-@Model.Id" class="tt-text">@Model.Likes</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="dislikeReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="tt-icon"><img src="~/images/dislike.svg" alt="dislike" /></i>
    <span id="reply-dislike-@Model.Id" class="tt-text">@Model.Dislike</span>
</button>

