@using Microsoft.AspNetCore.Http.Extensions;

<div class="tt-categories-title">
    <div class="tt-title">@ViewData["Title"]</div>
    <a asp-area=""
       asp-controller="Devices"
       asp-action="Create"
       class="btn btn-secondary ml-auto">
        <i class="fas fa-plus"></i>
    </a>
    &nbsp;
    <div class="tt-search">
        <form class="search-wrapper"
              asp-area=""
              asp-controller="Devices"
              asp-action="All"
              method="get">
            <div class="search-form">
                <input type="text"
                       name="Search"
                       class="tt-search__input"
                       placeholder="Търсене..." />
                <button class="tt-search__btn" type="submit">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </button>
                <button class="tt-search__close">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-cancel"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="tt-wrapper-inner">
    <ul class="nav nav-tab pt-tabs-default" role="tablist">
        @{
            if (this.Context.Request.GetEncodedUrl().Contains("Inspecting"))
            {
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("Inspected"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("InSale"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("NotBayed"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("Complaint"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("InRepair"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("Archive"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("Outlet"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else if (this.Context.Request.GetEncodedUrl().Contains("StatusChanged"))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspected">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InSale">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="NotBayed">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Complaint">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="InRepair">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Archive">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Outlet">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Преоценени">
                        <span>Outlets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="StatusChanged">
                        <span>Активности</span>
                    </a>
                </li>
            }

        }

    </ul>
</div>



