@using Microsoft.AspNetCore.Http.Extensions;

<div class="tt-wrapper-inner">
    <ul class="nav nav-tab pt-tabs-default" role="tablist">
        @{
            if (this.Context.Request.GetEncodedUrl().Contains("Create"))
            {
                <li class="nav-item show">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Ново устройство</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Inspecting">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Outlets</span>
                    </a>
                </li>

            }
            else if (this.Context.Request.GetEncodedUrl().Contains("Inspecting"))
            {
                <li class="nav-item show">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Ново устройство</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>За инспекция</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Проверени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>В продажба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Незакупени</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Рекламация</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>В ремонт</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Архив</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-area=""
                       asp-controller="Devices"
                       asp-action="Create">
                        <span>Outlets</span>
                    </a>
                </li>
            }


        }

    </ul>
</div>



