@using TechZoneBgWebProject.Common
@using TechZoneBgWebProject.Data.Models.Enums
@model TechZoneBgWebProject.Web.InputModels.Devices.DeviceCreateInputModel
@{
    ViewData["Title"] = "Ново устройство";
}

<div class="tt-tab-wrapper">

    <vc:devices-details user-id="1"></vc:devices-details>

    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            Данни за Устройството
        </h1>
        <form class="form-default form-create-topic mb-5" asp-action="Create" method="POST">
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="brand-label" asp-for="BrandId">Марка</label>
                        <select class="brand-select" asp-for="BrandId" id="input-brand">
                            @foreach (var brand in Model.Brands)
                            {
                                <option value="@brand.Id">@brand.Name</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="BrandId"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DeviceModel">Модел</label>
                <div class="tt-value-wrapper">
                    <input asp-for="DeviceModel"
                           type="text"
                           class="form-control"
                           placeholder="S22 Ultra" />
                    <span class="text-danger" asp-validation-for="DeviceModel"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Color">Цвят</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Color"
                           type="text"
                           class="form-control"
                           placeholder="Cosmic Blue" />
                    <span class="text-danger" asp-validation-for="Color"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Memory">Памет</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Memory"
                           type="text"
                           class="form-control"
                           placeholder="256GB" />
                    <span class="text-danger" asp-validation-for="Memory"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Seller">Продавач</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Seller"
                           type="text"
                           class="form-control"
                           placeholder="Георги Георгиев" />
                    <span class="text-danger" asp-validation-for="Seller"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-auto mb-5 mt-5 mr-auto">
                    <button type="submit" class="btn btn-secondary btn-width-lg">Въведи устройство</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var $select = $('#input-brand').selectize({
            create: false,
            sortField: 'text',
            placeholder: 'Моля изберете...'
        });

    </script>
       
        <partial name="_ValidationScriptsPartial" />

}
