@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

<header style="text-align: center;">
    <div class="row" style="display:inline-block; margin-top:50px;">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            @{
                if (User.Identity.IsAuthenticated)
                {

                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-secondary">Кликнете тук за да излезете от акаунта си</button>
                    </form>

                }
                else
                {
                    <p>You have successfully logged out of the application.</p>
                }
            }
        </div>
    </div>
</header>