@using TechZoneBgWebProject.Web.Infrastructure.Extensions
@model TechZoneBgWebProject.Web.ViewModels.Products.ProductDetailsViewModel
@{ ViewData["Title"] = Model.Name;
}
<br />
<div class="container">
    <div class="tt-single-topic-list" style="word-break: break-word;">
        <div class="tt-item tt-details">
            <div class="tt-single-topic">
                <div class="tt-item-header">
                    <div class="tt-item-info info-top">
                    </div>
                    <h3 class="tt-item-title">
                        @Model.Name
                    </h3>
                </div>
                <div class="tt-item-description">
                    <img src="@Model.Pic">
                    <h3 class="tt-item-title">
                        @Model.Price лв.
                    </h3>
                    <div class="details">
                        <span class="tt-color13 tt-badge">Налично</span>
                        <div class="tt-color01 tt-badge">Поръчай</div>
                        <p>@Model.Barcode</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>