@using TechZoneBgWebProject.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - TechZoneBG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-xl">
                <a class="navbar-brand white_text" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/TechZone Logo.png" width="272" height="48"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse white_text">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link white-text" asp-area="" asp-controller="Home" asp-action="Index" title="Начало"><i class="fas fa-home layout"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <p class="d">
                    <a class="c" href="viber://chat?number=359878432079" target="_blank" title="Viber">
                        <i class="fab fa-viber"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.facebook.com/messages/t/iTech.Computers" target="_blank" title="Messenger">
                        <i class="fab fa-facebook-messenger"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.facebook.com/TechZoneBG11/" target="_blank" title="Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.instagram.com/itechcomputers1/" target="_blank" title="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>
                <p class="d">
                    <a class="c" href="https://www.youtube.com/channel/UCr_JWBo47P0706JHxWmoNAw/" target="_blank" title="Youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 main">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @this.RenderBody()
                </main>
            </div>
            <aside class="col-xl-3">
                <div class="g-mb-20">
                    <cache expires-after="@TimeSpan.FromSeconds(10)">
                        <vc:main-news></vc:main-news>
                    </cache>
                </div>
            </aside>
        </div>
        
    </div>

    <footer class="border-top footer white-text">
        <div class="container">
           TechZoneBG &copy; 2020 - @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/48ab6649dd.js" crossorigin="anonymous"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
